body {
    background-color: darkcyan; color: azure; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;
}
img {
    width: 300px; border-radius: 10px; margin-right: 100px; height: 300px;
}